<h2>Termini zakazanih ispita</h2>
 <div class="list-group">
    <a href="#" class="list-group-item">
     <h4 class="list-group-item-heading">Inzenjerska matematika 2</h4>
     <p class="list-group-item-text">Sala S1 13.06. 09:00</p>
    </a>
     <a href="#" class="list-group-item">
         <h4 class="list-group-item-heading">Inzenjerska matematika 2</h4>
         <p class="list-group-item-text">Sala VA 13.06. 09:00</p>
     </a>
     <a href="#" class="list-group-item">
         <h4 class="list-group-item-heading">Inzenjerska matematika 2</h4>
         <p class="list-group-item-text">Sala MA 13.06. 09:00</p>
     </a>
     <a href="#" class="list-group-item">
         <h4 class="list-group-item-heading">Tehnike programiranja</h4>
         <p class="list-group-item-text">Sala MA 08.06. 12:00</p>
     </a>
     <a href="#" class="list-group-item">
         <h4 class="list-group-item-heading">Računarske arhitekture</h4>
         <p class="list-group-item-text">Sala VA 06.06. 15:00</p>
     </a>
     <a href="#" class="list-group-item">
         <h4 class="list-group-item-heading">Ugradbeni sistemi</h4>
         <p class="list-group-item-text">Sala VA 08.06. 15:00</p>
     </a>
 </div>
